@use "./index" as *;

body {
	background-color: $dark-very-dark-blue;
	background-image: url("../images/bg-desktop-dark.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.container {
	width: clamp(350px, 30vw, 35vw);
	margin: 0 auto;
}

@media only screen and (max-width: 800px) {
	body {
		background-image: url("../images/bg-mobile-dark.jpg");
	}
}
