@use "./index" as *;

.options {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: $dark-very-dark-desatured-blue;
	color: $dark-light-grayish-blue;
	border-radius: 0 0 4px 4px;

	font-family: $ff-josefin-sans;
	padding: 0.8em 1rem;

	&.light {
		background-color: $light-very-light-gray;
	}

	&__items-left {
		font-size: 0.8rem;

		&.light {
			color: $light-dark-grayish-blue;
		}
	}

	&__buttons {
		display: flex;
		gap: 0.5rem;
	}

	&__button {
		font-family: $ff-josefin-sans;
		font-weight: $fw-josefin-sans-bold;
		font-size: 0.95rem;

		background: none;
		border: none;
		color: $dark-very-dark-grayish-blue;

		cursor: pointer;

		&:hover {
			color: white;
		}

		&.light {
			color: $light-dark-grayish-blue;

			&:hover {
				color: $light-very-dark-grayish-blue;
			}
		}
	}

	&__clear {
		font-family: $ff-josefin-sans;
		font-weight: $fw-josefin-sans-bold;
		font-size: 0.8rem;

		background: none;
		border: none;
		color: $dark-very-dark-grayish-blue;

		cursor: pointer;

		&:hover {
			color: $dark-light-grayish-blue-hover;
		}

		&.light {
			color: $light-dark-grayish-blue;

			&:hover {
				color: $light-very-dark-grayish-blue;
			}
		}
	}

	.selected {
		font-weight: $fw-josefin-sans-bold;
		font-size: 1rem;
		color: $bright-blue;
	}

	&__buttons-mobile {
		background-color: $dark-very-dark-desatured-blue;
		margin-top: 1rem;
		padding: 0.8em 0;
		display: flex;
		justify-content: center;

		border-radius: 4px;

		&.light {
			background-color: $light-very-light-gray;
			box-shadow: 0 10px 15px 0 rgba(black, 0.1);
		}
	}
}
